* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

nav#navegacao {
  height: 4rem;
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1#titulo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 20px;
}

ul#lista {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

li.item > a {
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

li.item > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

li.item > a:hover::after {
  width: 100%;
}

li.item > a:active {
  color: lawngreen;
  text-decoration: underline solid lawngreen;
}


li.item > a:active::after {
  background-color: lawngreen;
  width: 100%;
}